@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 204 100% 97%;
    --foreground: 213 27% 20%;

    --card: 210 20% 98%;
    --card-foreground: 213 27% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 213 27% 20%;

    --primary: 211 96% 48%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 20% 95%;
    --secondary-foreground: 213 27% 20%;

    --muted: 210 20% 96%;
    --muted-foreground: 215 16% 47%;

    --accent: 45 93% 89%;
    --accent-foreground: 30 80% 30%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 214 32% 88%;
    --input: 214 32% 91%;
    --ring: 211 96% 48%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 213 27% 12%;
    --foreground: 210 40% 98%;

    --card: 213 27% 15%;
    --card-foreground: 210 40% 98%;

    --popover: 213 27% 12%;
    --popover-foreground: 210 40% 98%;

    --primary: 211 96% 58%;
    --primary-foreground: 0 0% 100%;

    --secondary: 213 27% 18%;
    --secondary-foreground: 210 40% 98%;

    --muted: 213 27% 18%;
    --muted-foreground: 215 20% 65%;

    --accent: 45 80% 65%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 213 27% 20%;
    --input: 213 27% 20%;
    --ring: 211 96% 58%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
